# Ramsey King
# DSC 630 - Predictive Analytics
# September 5, 2021
# Exercise 1.2

In [1]:
import pandas as pd
import numpy as np

blm_data = pd.read_csv('week1blsfile.csv')

The following categories were imported into the file:
- CES0500000002 - AVERAGE WEEKLY HOURS OF ALL EMPLOYEES - Total private
- CES2000000010 - WOMEN EMPLOYEES, THOUSANDS - Construction
- CES0000000001 - ALL EMPLOYEES, THOUSANDS - Total nonfarm
- CES3000000010 - WOMEN EMPLOYEES, THOUSANDS - Manufacturing
- CES3232500010 - WOMEN EMPLOYEES, THOUSANDS - Chemicals
- CES4142460010 - WOMEN EMPLOYEES, THOUSANDS - Chemicals
- CES4142470010 - WOMEN EMPLOYEES, THOUSANDS - Petroleum
- CES5000000010 - WOMEN EMPLOYEES, THOUSANDS - Information
- CES9000000010 - WOMEN EMPLOYEES, THOUSANDS - Government
- CEU0000000001 - ALL EMPLOYEES, THOUSANDS - Total nonfarm

For comparison purposes, we will delete all categories not named 'Women Employees, Thousands' from the data set

In [2]:
blm_data.head()

       Series ID  Year Period     Label     Value
0  CES0000000001  2000    M01  2000 Jan  131005.0
1  CES0000000001  2000    M02  2000 Feb  131124.0
2  CES0000000001  2000    M03  2000 Mar  131596.0
3  CES0000000001  2000    M04  2000 Apr  131888.0
4  CES0000000001  2000    M05  2000 May  132105.0