# Ramsey King
# DSC 630 - Predictive Analytics
# October 16, 2021
# Exercise 7.2

In [ ]:
import pandas as pd
import numpy as np

hotel_destination_df = pd.read_csv('files/destinations.csv')
train_df = pd.read_csv('files/train.csv')

In [ ]:
# Explore train.csv
print(train_df.shape)
train_df.head(7)

Wow!  37 million rows of data will probably take forever to do any analysis for a homework assignment.  After doing some exploratory data analysis, I will limit the data set.  I will first limit it 1 million rows, and then see what happens from there.

In [ ]:
print("Describe Data")
print(train_df.describe())

print("Summarized Data")
train_df.describe(include=['O'])

In [ ]:
# want to take a look at the column names
train_df.columns

In [ ]:
#unique values in the columns
for col in train_df:
    print(train_df[col].unique())

In [31]:
# going to randomly select 500,000 rows
hotel_cluster_df = train_df.sample(n=500000)
print(hotel_cluster_df['hotel_cluster'])
hotel_cluster_df.shape

23980952    91
25290527    91
9599851     87
8780164     36
21668888    31
            ..
1111797     72
5596611     95
24197488     9
35885173    83
14221558    38
Name: hotel_cluster, Length: 500000, dtype: int64

(500000, 24)

In [37]:
# will normalize the destinations.csv file to create some uniformity.

from sklearn import preprocessing
# hotel_destination_df.set_index('srch_destination_id', inplace=True)
scaler = preprocessing.MinMaxScaler()
names = hotel_destination_df.columns
new_vals = scaler.fit_transform(hotel_destination_df)
hotel_destination_scaled_df = pd.DataFrame(new_vals, columns=names)
print(hotel_destination_scaled_df.head())
clusters = hotel_cluster_df.hotel_cluster.unique()
print(sorted(clusters), len(clusters))
hotel_destination_scaled_df.shape

         d1        d2        d3        d4        d5        d6        d7  \
0  0.398318  0.355529  0.627440  0.551856  0.444484  0.393389  0.395061
1  0.415257  0.368283  0.649948  0.687316  0.460430  0.157815  0.409233
2  0.413460  0.336355  0.593601  0.562468  0.531733  0.236769  0.373755
3  0.419531  0.371501  0.655628  0.576648  0.464453  0.201462  0.412809
4  0.407398  0.363703  0.633607  0.583948  0.488048  0.253322  0.398944

         d8        d9       d10  ...      d140      d141      d142      d143  \
0  0.597215  0.393800  0.422568  ...  0.551455  0.276379  0.359880  0.527620
1  0.618640  0.305565  0.446605  ...  0.595388  0.286294  0.385468  0.546547
2  0.698454  0.233910  0.386432  ...  0.518132  0.261474  0.361613  0.499164
3  0.624046  0.209530  0.452670  ...  0.600545  0.288796  0.376048  0.551323
4  0.603086  0.230275  0.429155  ...  0.566219  0.279096  0.365113  0.532806

       d144      d145      d146      d147      d148      d149
0  0.536732  0.542211  0.354101  0.553345  0.496367  0.403786
1  0.555986  0.580764  0.366804  0.573196  0.514174  0.418271
2  0.544276  0.512969  0.335004  0.523502  0.469597  0.524258
3  0.560845  0.566570  0.370010  0.578205  0.518667  0.421926
4  0.542008  0.557684  0.357582  0.558784  0.501246  0.412853

[5 rows x 149 columns]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99] 100

(62106, 149)

In [38]:
# PCA
from sklearn.decomposition import PCA

principal = PCA(n_components=3)
principal.fit(hotel_destination_scaled_df)
x = principal.transform(hotel_destination_scaled_df)
x.shape

(62106, 3)

In [42]:
#
print(principal.explained_variance_ratio_, sum(principal.explained_variance_ratio_))

[0.54139786 0.07351881 0.04061735] 0.655534013208587

In [45]:
destination_scaled_df = pd.DataFrame(principal.components_,columns=hotel_destination_scaled_df.columns,index = ['PC-1','PC-2','PC-3'])
destination_scaled_df.head()
hotel_cluster_df.head()

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
23980952,2013-07-29 13:57:21,2,3,66,153,14752,357.4735,782268,0,0,...,1,1,12216,6,0,3,2,50,365,91
25290527,2013-02-08 18:57:50,2,3,66,288,21662,905.1604,648637,0,0,...,2,1,12393,5,0,1,2,50,444,91
9599851,2014-02-02 17:49:23,2,3,66,348,48862,2098.1050,1036510,0,1,...,0,1,8976,1,0,1,4,52,202,87
8780164,2014-09-17 09:41:41,2,3,1,309,50017,969.2085,622964,1,1,...,0,1,8245,1,0,1,6,22,245,36
21668888,2014-06-24 12:08:32,2,3,179,18,30570,NaN,578505,0,0,...,2,1,8268,1,1,1,2,50,682,31

In [ ]:
# merge the two dataframes together with their principal components

hotel_predictor_df = pd.merge()